<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop is coming soon</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,900,900i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">



</head>
<body>
    <div class="general-container">
        <div class="top-container d-flex align-items-center flex-column justify-content-center" id="header">
            <h1 class="title">Я работаю и скоро запущу... Надеюсь.</h1>
            <form action="" method="POST">{% csrf_token %}
                <div class="form-group mx-sm-1">
                    <input name="{{ form.email.name }}" class="form-control form-control-lg" placeholder="Email" type="text">
                </div>
                <div class="form-group mx-sm-1">
                    <input name="{{ form.name.name }}" class="form-control form-control-lg" placeholder="Имя" type="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block btn-primary btn-orange">Отправить</button>
                </div>
            </form>
        </div>
        <div class="container" id="content">
            <div class="row h-100 mt-5">
                <main class="offset-8">
                    <p>Заебали я и так не сплю уже</p>
                </main>
            </div>
        </div>
    </div>
</body>

</html>